
    <mat-card class="card-places"> 
             <mat-card-title>
                  <ul class="places" >
                    <li *ngFor="let place of places">
                        <span (click)="type(place)">{{ place.type }}</span> 
                    </li>
                  </ul> 
            </mat-card-title>
            <img mat-card-image [src]="place.img"/>
            <mat-card-content> 
                  <p><b>Address: </b> {{place.address}}</p>
                  <p><b>Tel:</b> {{place.phone | mask: '0 (000) 000-00-00'}}</p>
            </mat-card-content>
          </mat-card>
<ng-container #container></ng-container>